* {
	margin: 0;
}
*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	background: #eee36d;
	font-family: Helvetica;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
}
body.pattern {
	background-color: #6C59A3;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: auto;
	background-repeat: inherit;
	background-position: inherit;
}
canvas {
    background: transparent;
    display: block;
}
section {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	image-rendering: pixelated;
}
.enabled section,
section.enabled {
	background-color: rgba(0, 0, 0, 0.5);
}

/*
*
* Countdown Container
*
*/
.countdown-container {
	width: 800px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	text-align: center;
}
.countdown-container h1 {
	color: #fff;
	font-size: 60px;
	padding-bottom: 60px;
	word-break: break-all;
}
.countdown-container h1:after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	margin: 10px 0;
	background-color: rgba(255, 255, 255, .25);
	border-radius: 20px;
}
.countdown-container h1 a {
	color: #fff;
	text-decoration: none;
}
.countdown-container #countdown {
    color: #fff;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 160px;
    line-height: 120px;
    font-weight: bold;
	text-align: right;
}
.countdown-container #countdown.date {
	font-size: 115px;
	white-space: nowrap;
}
.countdown-container #countdown.date em {
	text-align: center;
}
.countdown-container #countdown p {
	display: flex;
	justify-content: center;
}
.countdown-container #countdown p.happened {
	font-size: 60px;
    text-align: center;
    line-height: normal;
    opacity: 0.75;
}
.countdown-container #countdown span {
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	margin-right: 40px;
}
.countdown-container #countdown span:last-child {
	margin-right: 0;
}
.countdown-container #countdown em {
	display: block;
	font-style: normal;
	font-size: 30px;
	font-weight: normal;
	color: rgba(255, 255, 255, .8);
}

a.create {
	position: fixed;
	text-align: center;
	text-decoration: none;
	transition: .25s transform ease-in;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	width: auto;
	white-space: nowrap;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-shadow: none;
	box-sizing: border-box;
	transform: translate3d(0%,150%,0);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}
a.create:hover {
	background-color: #000;
	text-decoration: none;
}
body:hover a.create {
    transform: translate3d(0, 0, 0);
}

.attribution {
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 99;
	font-style: normal;
	font-size: 12px;
}
.attribution,
.attribution a {
	color: rgba(255,255,255,.75);
}
.attribution a:hover {
	color: #fff;
}

@media (max-width:800px) {
	.countdown-container {
		width: 100%;
		padding: 0 20px;
	}
	.countdown-container h1 {
		padding-bottom: 40px;
	}
	.countdown-container #countdown {
		font-size: 140px;
		line-height: 100px;
	}
	.countdown-container #countdown.date {
		font-size: 85px;
	}
	.countdown-container #countdown span {
		margin-right: 20px;
	}
	.countdown-container #countdown em {
		font-size: 30px;
	}
	.countdown-container h1 {
		font-size: 60px;
	}
	.countdown-container #countdown p.happened {
		font-size: 50px;
	}
}

@media (max-height:570px) {
	#section {
		flex-grow: 1;
		overflow: auto;
		position: static;
		display: block;
	}
}

@media (max-width:700px) {
	#section {
		display: block;
		margin-top: 0;
		position: static;
	}
	.enabled #section {
		margin-top: 0;
	}
	html, body {
		background-color: #2C3E50;
	}
	.enabled #section {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (max-width:650px) {

	.countdown-container h1 {
		padding-bottom: 30px;
	}
	.countdown-container #countdown {
		font-size: 120px;
		line-height: 100px;
	}
	.countdown-container #countdown.date {
		font-size: 75px;
	}
	.countdown-container #countdown em {
		font-size: 30px;
	}
	.countdown-container h1 {
		font-size: 50px;
	}
	.countdown-container #countdown p.happened {
		font-size: 40px;
	}
}

@media (max-width:580px) {

	.countdown-container h1 {
		padding-bottom: 10px;
	}
	.countdown-container #countdown {
		font-size: 80px;
		line-height: normal;
	}
	.countdown-container #countdown.date {
		font-size: 50px;
	}
	.countdown-container #countdown em {
		font-size: 20px;
	}
	.countdown-container #countdown span {
		margin-right: 15px;
	}
	.countdown-container h1 {
		font-size: 40px;
	}
	.countdown-container #countdown p.happened {
		font-size: 30px;
	}
	.countdown-container h1:after {
		height: 5px;
	}
	.attribution + a.create {
		bottom: 35px;
	}
}

@media (max-width:400px), (max-height: 570px) {

	.countdown-container h1 {
		padding: 0;
		word-break: normal;
	}
	.countdown-container #countdown {
		font-size: 70px;
		line-height: normal;
	}
	.countdown-container #countdown.date {
		font-size: 50px;
	}
	.countdown-container #countdown em {
		font-size: 20px;
		text-align: center;
	}
	.countdown-container #countdown span {
		margin-right: 12px;
	}
	.countdown-container h1 {
		font-size: 30px;
	}
	.countdown-container #countdown p.happened {
		font-size: 20px;
	}
}

@media (max-width:400px) {

	.countdown-container #countdown {
		font-size: 65px;
	}
	.countdown-container #countdown em {
		font-size: 15px;
	}
}

@media (max-width:350px) {

	.countdown-container h1 {
		font-size: 20px;
	}
}

@media (width:812px), (height: 375px) {

	body {
		background: red !important;
	}
}
