/*
 https://color.adobe.com/Avocado-color-theme-7133782/edit/?copy=true&base=2&rule=Complementary&selected=0&name=Copy%20of%20Avocado&mode=rgb&rgbvalues=0.6333333333333333,0.5986611078539097,0.22672268907563028,1,0.9623086443878959,0.5579831932773109,0.9333333333333333,0.8901960784313725,0.42745098039215684,0.42540997501509714,0.3502063697478992,0.639216,0.6646483409149292,0.5471523854665632,0.9986927407407408&swatchOrder=0,1,2,3,4
 */
* {
	margin: 0;
}
*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	background: #eee36d;
	font-family: Helvetica;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
}
body.pattern {
	background-color: #6C59A3;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: auto;
	background-repeat: inherit;
	background-position: inherit;
}
canvas {
    background: transparent;
    display: block;
}
section {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	image-rendering: pixelated;
}
.enabled section,
section.enabled {
	background-color: rgba(0, 0, 0, 0.5);
}
#form h1,
.about-page h1 a {
	margin: 20px auto 40px;
	padding: 0;
	background: transparent url('timetaco.svg') no-repeat center center;
	background-size: contain;
	text-indent: -999999px;
	min-height: 100px;
}
.about-page h1 a {
	display: block;
}
body:not(.enabled) #form fieldset,
body:not(.enabled) #form footer {
/*	background: #ECF0F1; */
}
.enabled #form h1 {
	display: none;
}

form footer {
	text-align: center;
	position: relative;
	padding: 0 20px;
	margin-top: 30px;
}
form footer.ready,
form footer.uploading {
	padding: 0;
}

@keyframes rotating {
  0% {
  	transform: rotate(0);
  }
  100% {
  	transform: rotate(180deg);
  }
}

@keyframes warning-field {
  0% {
  	color: red;
	border-color: rgba(255, 0, 0, .6);
  }
  100% {
  	color: #fff;
	border-color: rgba(255, 255, 255, .3);
  }
}

@keyframes warning-field-black {
  0% {
  	color: red;
	border-color: rgba(255, 0, 0, .3);
  }
  100% {
  	color: rgb(50, 50, 50);
	border-color: rgba(0, 0, 0, .3);
  }
}

#form {
	width: 600px;
	z-index: 3;
	padding: 0;
}
.enabled #form {
    border: none;
	background: transparent;
	transform: none;
	box-shadow: none;
    animation: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.what {
    border-radius: 0;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
	font-size: 40px;
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	width: 100%;
	padding: 0;
	display: block;
	color: rgb(50, 50, 50);
	outline: none;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 40px 0 0;
}
.image-container > a {
	display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.25s ease-in, color 0.25s ease-in;
    z-index: 99;
}
.image-container > a svg {
	fill: currentColor;
}
.image-container > a:hover {
	background: #fff;
}
.image-container > a.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.enabled a#refresh-background,
.enabled .image-container > a {
	background-color: #fff;
	color: #000;
}
.enabled a#refresh-background:not(.disabled):hover,
.enabled .image-container > a:not(.disabled):hover {
	background-color: #000;
	color: #fff;
}

a#refresh-background {
	display: block;
    background: rgba(0, 0, 0, 0.3);
    color: #EEE36D;
    transition: background-color 0.25s ease-in;
}
a#refresh-background svg {
	fill: none;
}
a#refresh-background[data-animating='1'] svg {
	animation: rotating 1s ease infinite;
}
a#remove-background {
	margin-left: 20px;
}
a#refresh-background,
a#remove-background {
    flex-shrink: 0;
}
a#refresh-background:not(.disabled):hover {
	background-color: #000;
}
a#refresh-background .tooltiptext {
	left: 10px;
	bottom: 15px;
	transform: translate3d(0,-100%,0);
}
a#remove-background .tooltiptext {
	bottom: 15px;
	transform: translate3d(0%,-100%,0);
	right: 8px;
}

.enabled .what {
	color: #fff;
	border-color: rgba(255, 255, 255, 0.75);
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.what::-webkit-input-placeholder,
.what::placeholder,
#daytime input::-webkit-input-placeholder,
#daytime input::placeholder {
    color: rgba(0, 0, 0, 0.3);
	opacity: 1.0;
}

.what:disabled {
    color: rgba(0, 0, 0, 0.3);
}
.enabled .what:disabled,
.enabled .what::-webkit-input-placeholder,
.enabled .what::placeholder,
.enabled #daytime input::-webkit-input-placeholder,
.enabled #daytime input::placeholder  {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: none;	
	opacity: 1.0;
}
#daytime {
	margin-top: 30px;
	color: rgb(50, 50, 50);
	font-size: 40px;
}
.enabled #daytime {
	color: #fff;
}
#daytime span {
	margin: 0;
	flex-grow: 1;
	text-align: center;
}
#daytime .day[data-warning="1"] *,
#daytime .time[data-warning="1"] * {
	animation: warning-field-black 2.0s;
}
.enabled #daytime .day[data-warning="1"] *,
.enabled #daytime .time[data-warning="1"] * {
	animation: warning-field 2.0s;
}
#daytime span {
    color: rgba(0, 0, 0, 0.3);
}
.enabled #daytime span {
	color: rgba(255, 255, 255, 0.75);
}

#daytime span.note {
	font-size: 18px;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 50px;
	margin: 0;
	color: rgba(0,0,0,.25);
	cursor: help;
	white-space: nowrap;
	width: 25%;
	box-sizing: border-box;
	display: flex;
	flex-grow: 0;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}
#daytime span.note .tooltiptext {
    right: auto;
    transform: translate3d(-100%,0,0);
    left: 50%;
    color: #333;
    bottom: 45px;
    text-align: left;
}
#daytime span.note em {
	font-style: none;
}
.enabled #daytime span.note {
	color: rgba(255, 255, 255, 0.75);
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.75);
}

#daytime div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}
#daytime div:last-child {
	margin-bottom: 0;
}
#daytime input {
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
	outline: none;
	font-size: 40px;
	border: none;
	background: transparent;
	color: rgb(50, 50, 50);
	transition: color 0.25s ease-in, border-color 0.25s ease-in;
	padding: 0;
	border-radius: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	width: 25%;
}
.enabled #daytime input {
	color: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, 0.75);
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
.time input {
	color: rgba(0, 0, 0, 0.6);
}
.enabled .time input {
	color: rgba(255, 255, 255, 0.6);
}
#daytime input:disabled,
#daytime input:invalid {
	color: rgba(0, 0, 0, 0.6);
}
.enabled #daytime input:disabled,
.enabled #daytime input:invalid {
	color: rgba(255, 255, 255, 0.6);
}
#background {
	display: none;
}
#background-container.uploading label {
	background: transparent;
	border-color: #6C59A3;
}
body:not(.enabled) #background-container.uploading label {
	color: #eee36d;
}
body.enabled #background-container.uploading label {
	color: rgb(50, 50, 50);
	border-color: #fff;
}

#background-container {
	position: relative;
	width: 100%;
	margin-left: 20px;
}
#background-container em {
	position: absolute;
	left: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	background: #6C59A3;
	z-index: 1;
	width: 0%;
	border-radius: 40px;
	transform: translate3d(-50%, 0, 0);
}
.enabled #background-container em {
	background: #fff;
}
#image-uploader-label {
	border-radius: 40px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
	color: rgba(0, 0, 0, 0.6);
	border: none;
	display: block;
	cursor: pointer;
	transition: all 0.25s ease-in;
	position: relative;
	text-align: center;
	font-size: 40px;
}

@keyframes warning {
  0% {
	transform: scale3d(1.2, 2, 1);
	opacity: 0;
  }
  10% {
	transform: scale3d(1, 1, 1);
	opacity: 1;
  }
  100% {
	transform: scale3d(1.2, 2, 1);
	opacity: 0;
  }
}
#image-uploader-label {
	position: relative;
	z-index: 2;
	border: 2px solid rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, .3);
	padding: 10px;
	transition: color 0.25s ease-in, border-color 0.25s ease-in;
	display: block;
	padding: 20px;
	font-style: normal;
}
.enabled #image-uploader-label {
	border-color: rgba(255, 255, 255, 0.75);
	color: rgba(255, 255, 255, 0.75);
}
#image-uploader-label:hover {
	color: rgba(0,0,0,1.0);
	border-color: rgba(0, 0, 0, 1.0);
}
.enabled #image-uploader-label:hover {
	color: #fff;
	border-color: #fff;
}

#image-uploader-drop {
	display: none;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}
.enabled #image-uploader-drop {
	color: rgba(255, 255, 255, 0.4);
}

input[type=submit]:not(.uploading):disabled {
	color: rgb(125, 125, 125);
	background-color: transparent;
	font-size: 14px;
}
input[type=submit],
.about-page .cta {
	text-transform: uppercase;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
	position: relative;
	z-index: 2;
	display: none;
	width: 100%;
	font-size: 40px;
	padding: 20px;
	background: none;
	border: none;
	background-color: transparent;
	color: rgb(50, 50, 50);
	border: 2px solid rgb(50, 50, 50);
	transition: color 0.25s ease-in, border-color 0.25s ease-in, background-color 0.25s ease-in;
	font-weight: bold;
	outline: none;
	border-radius: 40px;
	background-color: #6C59A3;
	color: #eee36d;
	border-color: #6C59A3;
	background: #6C59A3;
	background: linear-gradient(125deg,
		rgba(108,89,163,1) 0%,
		rgba(108,89,163,1) 20%,
		rgba(136,119,187,1) 43%,
		rgba(108,89,163,1) 60%,
		rgba(108,89,163,1) 100%);
	background-size: 600% 600%;
	animation: GradientAnimation 10s ease infinite;
}

@keyframes GradientAnimation {
	0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.enabled input[type=submit] {
	border-color: #fff;
	background: #fff;
	background: linear-gradient(125deg,
		rgba(255,255,255,1) 0%,
		rgba(255,255,255,1) 20%,
		rgba(240,240,240,1) 43%,
		rgba(255,255,255,1) 60%,
		rgba(255,255,255,1) 100%);
	background-size: 600% 600%;
	color: rgb(50, 50, 50);
}
input[type=submit].uploading {
	background: rgba(255, 255, 255, 0.75);
	color: rgb(50, 50, 50);
}
@keyframes uploading {
  0% {
  	transform: scale(0,1);
  }
  100% {
  	transform: scale(1,1);
  }
}
#form:not(.uploading) input[type=submit]:not([disabled]) {
	cursor: pointer;
}
#form:not(.uploading) input[type=submit]:not([disabled]):hover,
.about-page .cta:hover {
	background: #eee36d;
	color: #6C59A3;
}
.enabled #form:not(.uploading) input[type=submit]:not([disabled]):hover {
	color: #fff;
	background-color: transparent;
}

#form.uploading input[type=submit] {
	opacity: 0.5;
	animation: none;	
	cursor: not-allowed;
}

.overlay-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	z-index: 5;
	opacity: 0.75;
	transition: all 0.25s ease-in;
}
.enabled .overlay-button {
	color: #fff;
}
.overlay-button:hover {
	opacity: 1.0;
}
.overlay-button svg {
	opacity: 0.75;
	color: #fff;
}
.overlay-button:hover svg {
	opacity: 1.0;
}
.embed-button {
	bottom: 0;
	right: 0;
	padding: 0;
	display: inline-block;
	position: static;
	opacity: 1.0;
	font-weight: normal;
}

.about-button,
.login-button,
.logout-button {
	position: fixed;
    opacity: 1.0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6C59A3;
    box-sizing: border-box;
    border: 2px solid #6C59A3;
    padding: 0;
    text-decoration: none;
}
.login-button,
.about-button {
	position: static;
	top: 0;
	left: 0;
	display: flex !important;
}
.logout-button {
    padding: 5px 10px;
	position: static;
	width: auto;
    color: rgb(238, 227, 109);
	transition: all 0.25s ease-in;
}
.logout-button:hover {
    color: #6C59A3;
    background: rgb(238, 227, 109);
}

.about-button svg,
.login-button svg {
	width: 100%;
	height: 100%;
	opacity: 1;
	fill: currentColor;
    color: rgb(238, 227, 109);
}
.about-button:hover,
.login-button:hover {
    background: rgb(238, 227, 109);
    border-color: rgb(238, 227, 109);
}
.about-button:hover svg,
.login-button:hover svg {
    color: #6C59A3;
}
.enabled .about-button,
.enabled .login-button {
    background: #333;
    border-color: #333;
}
.enabled .about-button svg,
.enabled .login-button svg {
    color: #fff;
}
.enabled .about-button:hover,
.enabled .login-button:hover {
    background: #fff;
    border-color: #fff;
}
.enabled .about-button:hover svg,
.enabled .login-button:hover svg {
    color: #333;
}

.attribution {
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 9;
	font-style: normal;
	font-size: 12px;
}
.attribution,
.attribution a {
	color: rgba(255,255,255,.75);
}
.attribution a:hover {
	color: #fff;
}

div.actions,
div.home-actions {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9;
}
div.home-actions {
	display: flex;
}
div.home-actions a {
	margin-right: 10px;
}
div.home-actions a:last-child {
	margin-right: 0;
}
div.actions a {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
div.actions #subscribe-button { display: none; }

div.actions #subscribe-button #subscription-on {
	display: none;
}
div.actions #subscribe-button[data-active="1"] #subscription-off {
	display: none;
}
div.actions #subscribe-button[data-active="1"] #subscription-on {
	display: block;
}
div.actions a {
	margin-right: 10px;
}
div.actions a:last-child {
	margin-right: 0;
}
div.actions svg {
	width: 100%;
	height: 100%;
	transition: opacity 0.25s ease-in;
	color: #fff;
	opacity: 0.75;
	fill: currentColor;
	display: block;
}
div.actions a:hover svg {
	opacity: 1;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
    z-index: 999;
}
.overlay div {
    display: block;
    width: 420px;
    background: #fff;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    padding: 20px;
    border-radius: 20px;
    border-top-right-radius: 0;
}
.overlay div > p:last-child {
	margin-bottom: 0;
}
.overlay input {
	padding: 5px;
	border: none;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 20px;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #ECF0F1;
	border-bottom: 2px solid #999;
}
.overlay button {
    height: 30px;
    border-radius: 15px;
    background: #6C59A3;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #6C59A3;
    font-size: 16px;
    font-family: Helvetica;
    padding: 7px 10px;
    font-weight: bold;
    line-height: 15px;
}
.overlay[data-overlay="login"] form {
	text-align: center;
}
.overlay[data-overlay="login"] input {
	font-weight: bold;
	text-align: center;
	color: #6C59A3;
	background-color: transparent;
	cursor: text;
	border-color: #6C59A3;
}
.overlay input:focus {
	border-color: #333;
}
.overlay iframe {
	width: 100%;
	border: none;
	min-height: 260px;
}
.overlay h2 {
	border-bottom: 1px solid rgba(255,255,255,.5);
	color: #333;
	margin-bottom: 10px;
}
.overlay .overlay-header {
	margin-bottom: 20px;
	position: relative;
}
.overlay h2 span {
	line-height: 39px;
	font-size: 22px;
	display: block;
}
.overlay h2 .close-button {
    top: -40px;
    right: -20px;
    border-radius: 20px;
    padding: 8px;
}
.overlay h2 .close-button:hover {
	color: #fff;
	background-color: #6C59A3;
}
.overlay h5 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.5em;
    color: #555;
}
.overlay p {
	line-height: 1.5em;
}
.overlay p,
.overlay li {
	margin-bottom: 20px;
}
.overlay ol {
	margin: 0;
	display: block;
	padding-left: 0;
	list-style: none;
	font-size: 18px;
}
.overlay ol li span {
	color: #6C59A3;
	font-style: italic;
	background: #EEE26D;
	padding: 2px 10px;
	font-size: 15px;
	border-radius: 15px;
}

/*
*
* Messages
*
*/

.messages {
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 10px;
	transform: translate3d(-50%,0,0);
	background: #fff;
	padding: 10px;
	list-style: none;
	animation: hideelement 1s;
	animation-delay: 2s;
    animation-fill-mode: forwards;
    border-radius: 5px;
    text-align: center;
}
.messages li {
	margin-bottom: 10px;
}
.messages li:last-child {
	margin: 0;
}

@keyframes hideelement {
  0% {
  	opacity: 1.0;
  	display: block;
  	visibility: visible;
  }
  100% {
  	opacity: 0.0;
  	visibility: hidden;
  	display: none;
  }
}

/*
*
* Tooltips
*
*/

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 5px 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .25s ease-in;
    transform: translate3d(0,-200%,0);
    bottom: auto;
    padding: 10px 10px;
    white-space: nowrap;
    border-radius: 5px;
    text-shadow: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.tooltip:not(.disabled):hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

a[data-tooltipactive="1"] .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.tooltip-right {
    left: auto;
    right: 0;
    transform: none;
}
.tooltip-right:after {
    left: auto;
    right: 7px;
}

.tooltip .tooltiptext.tooltip-center {
    right: auto;
    left: 50%;
    transform: translate3d(-50%,-200%,0);
}
.tooltip-center:after {
    left: 50%;
    right: auto;
}

.tooltip-left {
    left: 0;
    right: auto;
    transform: none;
}
.tooltip-left:after {
    left: 10px;
    right: auto;
}

.login-button .tooltiptext,
.about-button .tooltiptext {
	transform: translate3d(0,-100%,0);
	bottom: 0;
}

/*
*
* Coundown Container
*
*/
.countdown-container {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.countdown-container h1 {
	color: #fff;
	font-size: 60px;
	word-break: break-word;
	text-align: center;
}
.countdown-container.happened #countdown:not(.date) {
	margin-top: 20px;
}
.countdown-container h1:after,
.account-page .account-details:after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	margin-top: 10px;
	background: rgba(255, 255, 255, .25);
	border-radius: 20px;
}
.countdown-container #countdown {
    color: #fff;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 160px;
    font-weight: bold;
	text-align: right;
}
.countdown-container #countdown.date {
	font-size: 115px;
	white-space: nowrap;
}
.countdown-container #countdown.date em {
	text-align: center;
}
.countdown-container #countdown p {
	display: flex;
	justify-content: center;
}
.countdown-container #countdown p.happened {
	font-size: 60px;
    text-align: center;
    line-height: normal;
    opacity: 0.75;
}
.countdown-container #countdown span {
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	margin-right: 40px;
}
.countdown-container #countdown span:last-child {
	margin-right: 0;
}
.countdown-container #countdown em {
	display: block;
	font-style: normal;
	font-size: 30px;
	font-weight: normal;
	color: rgba(255, 255, 255, .8);
	margin-top: -25%;
	margin-right: 10%;
}
.countdown-container #countdown.date em {
	margin-top: 0;
	margin-right: 0;
}

#countdown-parent {
	cursor: pointer;
	padding: 0 20px;
}

footer#edit {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
}
footer#edit a {
	color: #fff;
	text-decoration: none;
	opacity: 0.75;
	transition: all 0.25s ease-in;
}
footer#edit a:hover {
	opacity: 1.0;
}

.close-button {
	display: block;
	position: absolute;
    top: 3px;
    right: 3px;
    width: 40px;
    height: 40px;
    padding: 0;
	background: #fff;
	color: #333;
    fill: currentColor;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease-in;
}
.close-button:hover {
	color: #111;
}

#product-hunt {
    background: #6C59A3;
    border-radius: 20px;
    color: #fff;
    font-style: normal;
    margin: 20px auto;
    display: block;
    width: 225px;
    text-align: center;
    display: flex;
    padding: 7px 15px;
    justify-content: space-between;
    align-items: flex-end;
	animation: hideelement 1s;
	animation-delay: 2s;
	white-space: nowrap;
    animation-fill-mode: forwards;
}
#product-hunt svg {
	width: 20px;
    display: inline;
    height: 20px;
}

/**
 Account page
 **/

.account-page article {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
}
.account-page h2 {
    text-align: center;
    color: #6C59A3;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 30px;
    margin-bottom: 20px;
}
.account-page .account-details header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.account-page .account-details:after {
	margin-top: 20px;
	background-image: repeating-linear-gradient(
	  -45deg,
	  rgba(0,0,0,.25),
	  rgba(0,0,0,.25) 2px,
	  transparent 2px,
	  transparent 4px);
}
.account-page .user {
	display: flex;
	align-items: center;
}
.account-page .user em {
	font-style: normal;
    font-weight: bold;
    color: rgb(50, 50, 50);
}
.account-page .avatar {
	background-size: 100%;
    color: rgb(238, 227, 109);
    border-radius: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #6C59A3;
    box-sizing: border-box;
    border: 2px solid rgb(238, 227, 109);
    box-shadow: 0 0 0 2px #6C59A3;
    background-image: url('default-avatar.png');
}
.account-page .account-details svg {
	width: 22px;
    height: 22px;
    fill: currentColor;
}
.account-page .create-button {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px;
	border-radius: 15px;
}
.account-page .create-button svg {
	fill: currentColor;
	stroke: currentColor;
}
.account-page .create-button:hover {
	background-color: #6C59A3;
}
.account-page .create-button:hover svg {
	color: #eee36d;
}

.account-page .taco-list ul {
	padding: 0;
	list-style: none;
}
.account-page .taco {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.account-page .no-tacos {
	padding: 20px 0;
	margin: 0;
	color: #333;
	font-size: 20px;
	text-align: center;
	line-height: 2em;
}
.account-page .no-tacos a {
    font-weight: bold;
}
.account-page .taco span.icon {
	background-size: 100%;
	width: 30px;
    height: 30px;
    margin-right: 15px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.account-page .taco > div {
    text-align: left;
    flex-shrink: 0;
    flex-grow: 1;
}
.account-page .taco h5 {
    font-size: 18px;
    margin-bottom: 3px;
}
.account-page .no-tacos a,
.account-page .taco h5 a {
    color: #6C59A3;
    text-decoration: none;
}
.account-page .no-tacos a:hover,
.account-page .taco h5 a:hover {
	text-decoration: underline;
}
.account-page .taco p {
	font-size: 12px;
	color: #666;
}
.account-page .taco .actions {
    position: static;
    flex-grow: 0;
    display: flex;
    align-items: center;
}
.account-page .taco .actions form {
	display: inline-block;
}
.account-page .taco .actions a,
.account-page .taco .actions button {
	opacity: 1;
	width: 30px;
	height: 30px;
	padding: 3px;
	border-radius: 50%;
	border: none;
	background: #eee36d;
	display: inline-block;
	cursor: pointer;
}
.account-page .taco .actions button:hover,
.account-page .taco .actions a:hover {
	background: #6C59A3;
}
.account-page .taco .actions svg {
	color: #6C59A3;
	opacity: 1;
}
.account-page .taco .actions button:hover svg,
.account-page .taco .actions a:hover svg {
	color: #eee36d;
}

/** About page **/

.about-page {
	display: flex;
	justify-content: center;
	color: #333;
	font-size: 1em;
}
.about-page article {
	max-width: 1000px;
	padding: 0 20px;
}
.about-page h1 {
	text-align: center;
	margin: 30px 0;
}
.about-page p {
	margin-bottom: 15px;
	line-height: 1.25em;
	font-size: 1.35em;
}
.about-page a {
	color: #333;
}
.about-page .cta-container {
	text-align: center;
	padding: 40px 0 25px;
	margin-bottom: 20px;
}
.about-page .cta {
	display: inline;
    text-decoration: none;
    width: auto;
    text-transform: none;
    font-size: 1.75em;
}

@media (max-width:800px) {
	.countdown-container {
		width: 100%;
		padding: 0 20px;
	}
	.countdown-container #countdown {
		font-size: 140px;
	}
	.countdown-container #countdown.date {
		font-size: 85px;
	}
	.countdown-container #countdown span {
		margin-right: 20px;
	}
	.countdown-container #countdown em {
		font-size: 30px;
	}
	.countdown-container h1 {
		font-size: 60px;		
	}
	.countdown-container #countdown p.happened {
		font-size: 50px;
	}
}

@media (max-height:570px) {
	#section {
		flex-grow: 1;
		overflow: auto;
		position: static;
	}
	#section #form {
		margin: 0 auto;
		box-shadow: none;
		transform: none;
		animation: none;
	}
}

@media (max-width:700px) {
	#form h1 {
		margin-top: 30px;
	}
	.enabled #section {
		margin-top: 0;
	}
	.enabled #section {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.enabled #form {
		background-color: transparent;
	}
	#section #form {
		margin: 0 auto;
		box-shadow: none;
		transform: none;
		animation: none;
		max-width: 100%;
		padding: 0 20px;
	}
	.enabled #section #form {
		padding-top: 20px;
	}
}

@media (max-width:650px) {
	#form h1 {
		font-size: 80px;
	}
	.countdown-container #countdown {
		font-size: 120px;
	}
	.countdown-container #countdown.date {
		font-size: 75px;
	}
	.countdown-container #countdown em {
		font-size: 30px;
	}
	.countdown-container h1 {
		font-size: 50px;
	}
	.countdown-container #countdown p.happened {
		font-size: 40px;
	}
}

@media (max-width:600px) {
	.image-container > a {
		width: 30px;
		height: 30px;
		border-radius: 15px;
	}
	footer#edit legend {
		width: auto;
		border: none;
	}
	#form {
		max-width: 100%;
	}
	input[type=submit],
	.about-page .cta {
		white-space: normal;
	}
	input[type=submit]:not(.uploading):disabled {
		text-align: left;
	}

}

@media (max-width:580px) {

	.what {
		font-size: 30px;
	}
	#daytime input {
		font-size: 30px;
		flex-grow: 1;
	}
	#daytime .day input {
		width: 33%;
	}
	#daytime .time input {
		width: 50%;
	}

	#daytime span,
	#daytime span.note {
		display: none;
	}
	#daytime div {
		justify-content: stretch;
	}
	#image-uploader-label {
		font-size: 20px;
		padding: 15px 5px;
	}

	.countdown-container #countdown {
		font-size: 80px;
	}
	.countdown-container #countdown.date {
		font-size: 50px;
	}
	.countdown-container #countdown em {
		font-size: 20px;
	}
	.countdown-container #countdown span {
		margin-right: 15px;
	}
	.countdown-container h1 {
		font-size: 40px;
	}
	.countdown-container #countdown p.happened {
		font-size: 30px;
	}
	input[type=submit] {
		font-size: 25px;
	}
	.about-page .cta {
		font-size: 20px;
	}
	.countdown-container h1:after {
		height: 5px;
	}
	.account-page .account-details:after {
		height: 5px;
		background: rgba(0,0,0,.25);
	}
	.attribution span {
		display: none;
	}
	.attribution a {
		display: block;
	}

	a#refresh-background .tooltiptext {
		display: none;
		left: 4px;
		bottom: 5px;
	}
	a#remove-background .tooltiptext {
		bottom: 5px;
		right: 3px;
	}

	.account-page .account-details header {
		font-size: 16px;
	}
	.account-page .account-details header .avatar {
		display: none;
	}
}

@media (max-width:400px) {
	#form h1 {
		font-size: 60px;
		margin: 50px 0 30px;
	}
	.countdown-container #countdown {
		font-size: 65px;
	}
	.countdown-container #countdown.date {
		font-size: 50px;
	}
	.countdown-container #countdown em {
		font-size: 15px;
		text-align: center;
		margin-right: 0;
	}
	.countdown-container #countdown span {
		margin-right: 12px;
	}
	.countdown-container h1 {
		font-size: 30px;
	}
	.countdown-container #countdown p.happened {
		font-size: 20px;
	}
	input[type=submit]:not(.uploading):disabled {
		padding: 0;
	}
	.what {
		margin-bottom: 20px;
	}
	#daytime {
		padding-top: 0;
		margin-top: 0;
	}
	#daytime div {
		margin-bottom: 20px;
	}
	.image-container {
		margin-top: 27px;
		margin-bottom: 27px;
	}
	form footer {
		padding: 0;
		margin: 0;
		margin-bottom: 20px;
	}
	.overlay div {
		padding: 20px;
		width: 100%;
		transform: translate3d(-50%,-50%,0) scale3d(0.9, 0.9, 0.9);
	}
	.about-page p {
		font-size: 1.2em;
	}
	.about-page .cta {
		font-size: 13px;
	}
}

@media (max-width: 385px) {
	#section #form {
		min-width: auto;
		width: inherit;
	}
	.account-page .account-details header .avatar {
		display: block;
		margin: 0;
		box-shadow: none;
		border: none;
	}
	.account-page .account-details header .user em {
		display: none;
	}
}

@media (max-width: 900px) and (max-height: 400px),
	   (max-width: 400px) and (max-height: 900px) {

  	div.actions,
  	div.home-actions {
  		bottom: auto;
  		right: auto;
  		top: 20px;
		left: 50%;
		transform: translate3d(-50%,0,0);
		display: flex;
  	}
  	div.home-actions {
  		top: 10px;
  	}
  	.embed-button {
  		display: none;
  	}
  	a[data-tooltipactive="1"] .tooltiptext,
  	.tooltip:hover .tooltiptext {
  		visibility: hidden !important;
  		opacity: 0 !important;
  	}
}

@media (max-width:380px) {

	.enabled #image-uploader-label {
		font-size: 20px;
	}
}

@media (max-width:350px) {

	.countdown-container h1 {
		font-size: 20px;
	}

	.countdown-container #countdown.date {
		font-size: 38px;
	}

	.account-page .taco .actions .embed {
		display: none;
	}
}

@media (max-width: 320px) {

	#form h1 {
		margin-bottom: 10px;
	}
	.what,
	#daytime input,
	#image-uploader-label {
		font-size: 20px;
	}
	.enabled #image-uploader-label {
		font-size: 18px;
	}
}

@media (max-height: 625px) {

	#product-hunt {
		display: none;
	}
}

@media (max-height: 540px) {

	#section {
		align-items: baseline;
	}
	.overlay .preview-container {
		display: none;
	}
	.overlay .overlay-header,
	.overlay p,
	.overlay li {
	    margin-bottom: 10px;
	}
}

/* Landscape orientation */
@media (max-height:420px) and (min-width: 568px) {

	#form h1 {
		margin: 10px auto 20px;
	}

	.countdown-container h1 {
		display: none;
	}
	.countdown-container h1:after {
		height: 2vh;
		background: #fff;
		width: 60%;
		margin: 10px auto 0;
	}
	.countdown-container #countdown,
	.countdown-container #countdown.date {
		font-size: 40vh;
		line-height: 30vh;
	}
	.countdown-container #countdown p {
		display: flex;
		justify-content: center;
		height: 40vh;
	}
	.countdown-container #countdown span {
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	}
	.countdown-container #countdown strong {
		line-height: 32vh;
	}
	.countdown-container #countdown em {
		font-size: 6vh;
	    line-height: 6vh;
	}
	.countdown-container #countdown.date em {
		margin-top: 10px;
	}
	.countdown-container #countdown.date p {
		height: auto;
	}
	.countdown-container #countdown.date strong {
		font-size: 20vh;
		line-height: 16vh;
	}
}
