{% extends "base.html" %}

{% load staticfiles %}

{% block title %}About TimeTaco{% endblock %}

{% block background %} class="about-page"{% endblock %}

{% block content %}
	<article>

		<h1><a href="{% url "main:home" %}">TimeTaco</a></h1>

		<p>Here at TimeTaco&trade; (🕐🌮&trade;) Industries, we source only the finest, accuratest, fairtrade countdown timers and offer them to you at cut-throat prices: Free!</p>

        <p>Tired of all the other ad-ridden, slow, nonfunctional countdown timer websites? TimeTaco&trade; provides easy, functional countdown timers that won't bug you with ads or ask you to pay.</p>

        <p>TimeTaco&trade;-brand countdown timers will even send you a push notification when it's time for the event, so you never miss a thing! We'll even throw in timezone handling without you having to think about it, so you can send your countdowns to your friends without worry.</p>

        <p>TimeTaco&trade;-brand countdown timers are the only countdown timers* that allow you to set your own background, or use random, beautiful backgrounds from Unsplash.</p>

        <p>Buy TimeTaco&trade; timers today, and remember: They're free and come with a no-questions-asked money-back guarantee!</p>

        <p>Want to give us feedback, tell us you love the service, or complain about how we've wronged you?<br><a href="https://gitlab.com/stavros/TimeTaco/-/issues" target="_blank">Open an issue</a> today!</p>

        <small>* This statement may be a lie.</small>

		<div class="cta-container">
			<a href="{% url "main:home" %}" class="cta">Create your countdown timer</a>
		</div>

	</article>
{% endblock %}
