{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Account Details{% endblock %}

{% block background %} class="account-page"{% endblock %}

{% block content %}
<article class="account-details">

	<header>
		<a class="create-button" href="{% url "main:home" %}">
			<svg width="155px" height="130px" viewBox="0 0 155 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1"stroke-width="1" fill-rule="evenodd"><g id="logout-copy" transform="translate(-213.000000, -191.000000)"><g id="Group" transform="translate(213.044137, 190.500000)"><path d="M73.2104537,57.2905434 L20.107454,4.18796323 C15.6019662,-0.317524621 8.29685818,-0.317944165 3.79095078,4.18796323 C-0.714537073,8.69345109 -0.714537073,15.9989786 3.79095078,20.5044665 L48.8957551,65.6084317 L3.79137032,110.712816 C-0.714117529,115.217885 -0.714117529,122.522993 3.79137032,127.02932 C8.29685818,131.534388 15.6023857,131.534388 20.1078735,127.02932 L73.2104537,73.9267395 C75.5041032,71.63309 76.6272237,68.6144677 76.5856888,65.6088512 C76.6268042,62.6028153 75.5036837,59.5837734 73.2104537,57.2905434 Z" id="Path" transform="translate(38.499317, 65.608405) scale(-1, 1) translate(-38.499317, -65.608405) "></path><path d="M24.3967531,65.6084055 L144.396753,65.6084055" id="Line-3" stroke-width="23" stroke-linecap="round" stroke-linejoin="round"></path></g></g></g></svg>
		</a>

		<span class="user">
			<span data-gravatar="{{ request.user.email }}" class="avatar">&nbsp;</span>

			<em>{{ request.user.email }}</em>
		</span>

		<a class="logout-button" href="{% url "tokenauth:logout" %}">Log out</a>
	</header>

</article>

<article class="taco-list">

	{% if countdowns %}
	<h2>Your Tacos</h2>

		<ul>
		{% for countdown in countdowns %}
		<li class="taco">
			<span class="icon" data-icon="{{ countdown.get_background_url }}">&nbsp;</span>
			<div>
				<h5><a href="{% url "main:countdown-view" countdown.id %}">{{ countdown.title_or_default }}</a></h5>
				<p>{{ countdown.target }} UTC</p>
			</div>
			<div class="actions">
				<a title="Edit" href="{% url "main:countdown-view" countdown.id %}?key={{ countdown.key }}" class="edit">
					<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="edit" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="pencil-alt" transform="translate(95.000000, 95.000000)" fill-rule="nonzero"><path d="M313.637077,89.8757707 L284.643945,118.868903 C281.688029,121.824819 276.90825,121.824819 273.952334,118.868903 L204.142406,49.0589751 C201.186491,46.1030592 201.186491,41.3232804 204.142406,38.3673645 L233.135539,9.37423227 C244.89631,-2.38653936 264.015426,-2.38653936 275.839089,9.37423227 L313.637077,47.1722203 C325.460741,58.9329919 325.460741,78.0521073 313.637077,89.8757707 Z M179.237243,63.2725279 L14.0833055,228.426465 L0.75023819,304.840035 C-1.07362479,315.154295 7.91990646,324.084934 18.2341661,322.323963 L94.6477358,308.928004 L259.801673,143.774066 C262.757589,140.818151 262.757589,136.038372 259.801673,133.082456 L189.991745,63.2725279 C186.972938,60.3166121 182.193159,60.3166121 179.237243,63.2725279 Z"></path></g></g></svg>
				</a>
                <form data-confirm="Are you sure you want to delete this taco?" action="{% url "main:delete-countdown" countdown.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
						<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="delete" stroke="none" stroke-width="1" fill-rule="evenodd"><path d="M160.263868,173.557365 L353.549703,173.557365 L353.549703,384.053038 C353.549703,396.088541 352.296557,400.452905 349.943411,404.852905 C347.590265,409.252905 344.13712,412.706051 339.73712,415.059197 C335.33712,417.412343 330.972755,418.665488 318.937252,418.665488 L194.876318,418.665488 C182.840815,418.665488 178.476451,417.412343 174.076451,415.059197 C169.676451,412.706051 166.223305,409.252905 163.870159,404.852905 C161.517014,400.452905 160.263868,396.088541 160.263868,384.053038 L160.263868,173.557365 Z M207.278069,126.505426 L207.278069,118.099484 C207.278069,110.298695 208.090293,107.46994 209.61548,104.618088 C211.140667,101.766237 213.378817,99.5280866 216.230669,98.0028995 C219.082521,96.4777125 221.911275,95.6654884 229.712064,95.6654884 L283.74257,95.6654884 C291.543359,95.6654884 294.372114,96.4777125 297.223966,98.0028995 C300.075818,99.5280866 302.313968,101.766237 303.839155,104.618088 C305.364342,107.46994 306.176566,110.298695 306.176566,118.099484 L306.176566,126.505426 L351.494911,126.505426 C359.2957,126.505426 362.124455,127.31765 364.976307,128.842837 C367.828159,130.368024 370.066309,132.606174 371.591496,135.458026 C373.116683,138.309878 373.928907,141.138632 373.928907,148.939421 L373.928907,157.083723 L139.525728,157.083723 L139.525728,148.939421 C139.525728,141.138632 140.337952,138.309878 141.863139,135.458026 C143.388326,132.606174 145.626476,130.368024 148.478328,128.842837 C151.33018,127.31765 154.158934,126.505426 161.959723,126.505426 L207.278069,126.505426 Z"></path></g></svg>
                    </button>
                </form>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p class="no-tacos">You haven't made any tacos yet.<br/>Go on, <a href="{% url "main:home" %}">make one</a>!</p>
	{% endif %}

</article>



{% endblock %}
