{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <title>{{ request.site.name }} - {% block title %}{% endblock %}</title>
    <meta name="description" content="Create a free countdown timer to any date with time zone, embed, custom background image and push notification support to when the event ends.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="TimeTaco">
    <meta name="twitter:site" content="@timetaco_com">
    <meta name="twitter:description" content="TimeTaco is a free countdown timer to any date with full time zone, embed and custom background image support. TimeTaco also notifies you when a countdown is about to expire with a push notification!">
    <meta name="twitter:image" content="https://{{ request.site.domain }}{% static "images/timetaco-ogimage.png" %}"/>
    <meta name="twitter:image:alt" content="TimeTaco is a free countdown timer to any date with full time zone, embed and custom background image support. TimeTaco also notifies you when a countdown is about to expire with a push notification!">
    {% block headcontent %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <script src="{% static "js/countdown.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/colorthief.js" %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "icons/favicon.ico" %}">
</head>
<body{% block background %}{% endblock %}>
{% if not settings.DEBUG %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51110-29', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
