{% load staticfiles %}<!doctype html>
<html id="page-widget">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <link href="{% static "css/embed.css" %}" rel="stylesheet"/>
        <script src="{% static "js/countdown.js" %}"></script>
        <script src="{% static "js/script.js" %}"></script>
    </head>
    <body {% if countdown.get_background_url %} style="background-image: url('{{ countdown.get_background_url }}')"{% else %} class="pattern"{% endif %}>

        <article id="timetaco-embed">
            <section class="enabled">
                <div class="countdown-container" id="countdown-parent" title="{{ countdown.title_or_default }} ends at {{ countdown.target }} UTC">
                    {% if countdown.title %}
                    <h1 id="title"><a href="https://{{ request.site.domain }}{% url "main:countdown-view" countdown.id %}" target="_blank">{{ countdown.title }}</a></h1>
                    {% endif %}
                    <div id="countdown" data-year="{{ countdown.target.year }}" data-month="{{ countdown.target.month }}" data-day="{{ countdown.target.day }}" data-hour="{{ countdown.target.hour }}" data-minute="{{ countdown.target.minute }}"></div>
                </div>
            </section>

            {% if countdown.unsplash_author_name %}
            <em class="attribution"><a href="{{ countdown.unsplash_author_url }}?utm_source=TimeTaco&utm_medium=referral&utm_campaign=api-credit" target="_blank" title="{{ countdown.unsplash_author_name }}">{{ countdown.unsplash_author_name }}</a> <span>/</span> <a href="https://unsplash.com?utm_source=TimeTaco&utm_medium=referral&utm_campaign=api-credit" title="Unsplash" target="_blank">Unsplash</a></em>
            {% endif %}

            <a target="_blank" class="create" href="https://{{ request.site.domain }}{% url "main:home" %}">Create your own TimeTaco</a>

        </article>
        {% if host %}
        <script>
        window.addEventListener('DOMContentLoaded', function() {

            window.parent.postMessage({
                                    'height': document.getElementById('timetaco-embed').offsetHeight,
                                    'timetaco-id': '{{ countdown.id }}'
                                    }, '{{ host }}');

        }, false);
        </script>
        {% endif %}
    </body>
</html>
