{% extends "base.html" %}{% load staticfiles %}

{% block title %}{% if countdown %}Edit{% else %}Countdown timer with embed and push notifications{% endif %}{% endblock %}
{% block headcontent %}
<meta property="og:locale" content="en_US"/>
<meta property="og:image" content="https://{{ request.site.domain }}{% static "images/timetaco-ogimage.png" %}"/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:title" content="TimeTaco - Countdown timer with embed and push notifications"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://{{ request.site.domain }}{% url "main:home" %}"/>
<meta property="og:description" content="Create a TimeTaco countdown timer to count down any date with full time zone, embed and custom background image support. TimeTaco also notifies you when a countdown is about to expire with a push notification!" />
{% endblock %}

{% block content %}

{% if producthunt %}
<em id="product-hunt"><svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20" fill="#DA552F"></path><path d="M22.667 20H17v-6h5.667a3 3 0 0 1 0 6m0-10H13v20h4v-6h5.667a7 7 0 1 0 0-14" fill="#FFF"></path></g></svg>Welcome, good hunter!</em>
{% endif %}

<section id="section">
	<form id="form" method="POST" action="{% if countdown %}{% url "main:countdown-update" %}?id={{ countdown.id }}&key={{ countdown.key }}{% else %}{% url "main:countdown-update" %}{% endif %}" autocomplete="off">

		<h1>TimeTaco - Countdown timer with embed and push notifications</h1>

		<fieldset>

			<input value="{% if countdown.title %}{{ countdown.title }}{% endif %}" autocomplete="off" tabindex="1" class="what" type="text" maxlength=100 name="title" placeholder="Event name" autofocus/>

			<div id="daytime"{% if countdown %} data-year="{{ countdown.target.year }}" data-month="{{ countdown.target.month }}" data-day="{{ countdown.target.day }}" data-hour="{{ countdown.target.hour }}" data-minute="{{ countdown.target.minute }}"{% endif %}>
				<div class="day">
					<input value="" autocomplete="off" required type="number" inputmode="numeric" pattern="[0-9]*" name="year" min="2016" max="2030" step="1" maxlength="4" placeholder="Year"/>
					<span>/</span>
					<input value="" autocomplete="off" required type="number" inputmode="numeric" pattern="[0-9]*" name="month" min="1" max="12" step="1" maxlength="2" placeholder="Month"/>
					<span>/</span>
					<input value="" autocomplete="off" required type="number" inputmode="numeric" pattern="[0-9]*" name="day" min="1" max="31" step="1" maxlength="2" placeholder="Day"/>
				</div>
				<div class="time">
					<input value="" autocomplete="off" type="number" inputmode="numeric" pattern="[0-9]*" name="hour" min="0" max="23" step="1" maxlength="2" placeholder="Hour"/>
					<span>:</span>
					<input value="" autocomplete="off" type="number" inputmode="numeric" pattern="[0-9]*" name="minute" min="0" max="59" step="1" maxlength="2" placeholder="Minute"/>
					<span>&nbsp;</span>
					<span class="note tooltip">
						Use 24h format
						<span class="tooltiptext tooltip-right">Pick a date and time in your timezone,<br/>we will figure out the rest!</span>
					</span>
				</div>
			</div>
			{% if settings.CLOUDINARY_IMAGES %}
			<input type="file" accept="image/*" id="background"/>

			<div class="image-container">
				<a class="tooltip" id="refresh-background" href="javascript:void(0);">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z"/>
					  <rect x="4" y="4" width="16" height="16" rx="2" />
					  <circle cx="8.5" cy="8.5" r=".5" fill="currentColor" />
					  <circle cx="15.5" cy="8.5" r=".5" fill="currentColor" />
					  <circle cx="15.5" cy="15.5" r=".5" fill="currentColor" />
					  <circle cx="8.5" cy="15.5" r=".5" fill="currentColor" />
					</svg>

					<span class="tooltiptext tooltip-left">Get a random Unsplash background</span>
				</a>

				<div id="background-container">
					<label for="background" id="image-uploader-label">Background image</label>
					<em id="upload-progress"></em>
				</div>

				<a class="tooltip" id="remove-background" href="javascript:void(0);">
					<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></g></svg>
					<span class="tooltiptext tooltip-right">Remove background</span>
				</a>

			</div>
			{% endif %}
		</fieldset>

		<footer id="footer">
			<input type="submit" value="{% if countdown %}Update{% else %}Generate{% endif %}"/>
		</footer>

		<input type="hidden" name="background_url" value="{{ countdown.background_url }}"/>
		<input type="hidden" name="unsplash_author_name" value="{{ countdown.unsplash_author_name }}"/>
		<input type="hidden" name="unsplash_author_url" value="{{ countdown.unsplash_author_url }}"/>
		<input type="hidden" name="target" value=""/>

		{% csrf_token %}

	</form>
</section>

<em id="attribution" class="attribution">{% if countdown.unsplash_author_name %}
<a href="{{ countdown.unsplash_author_url }}?utm_source=TimeTaco&utm_medium=referral&utm_campaign=api-credit" target="_blank" title="{{ countdown.unsplash_author_name }}">{{ countdown.unsplash_author_name }}</a> <span>/</span> <a href="https://unsplash.com?utm_source=TimeTaco&utm_medium=referral&utm_campaign=api-credit" title="Unsplash" target="_blank">Unsplash</a>{% endif %}</em>

<div class="home-actions">
	<a href="{% url "main:about" %}" class="about-button overlay-button tooltip">
		<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill-rule="evenodd"><path d="M359.769014,188.715493 C359.769014,196.600978 358.366329,203.803958 355.560915,210.324648 C352.755502,216.845338 349.154013,222.835184 344.756338,228.294366 C340.358663,233.753548 335.468219,238.757724 330.084859,243.307042 C324.701499,247.856361 319.469861,252.026507 314.389789,255.817606 C309.309716,259.608704 304.608824,263.134373 300.286972,266.394718 C295.965119,269.655063 292.742734,272.725807 290.619718,275.607042 C289.709855,276.820194 288.648363,278.677804 287.435211,281.17993 C286.22206,283.682055 285.615493,286.525336 285.615493,289.709859 C285.615493,297.898632 283.075495,304.646687 277.995423,309.954225 C272.91535,315.261764 264.992073,317.915493 254.225352,317.915493 C247.704662,317.915493 242.359293,316.891912 238.189085,314.844718 C234.018876,312.797525 230.682759,310.257527 228.180634,307.224648 C225.678509,304.191769 223.934629,300.931473 222.948944,297.443662 C221.963258,293.955851 221.470423,290.771376 221.470423,287.890141 C221.470423,277.578352 223.214302,268.934777 226.702113,261.959155 C230.189924,254.983533 234.587532,248.955777 239.89507,243.875704 C245.202609,238.795632 250.889172,234.360113 256.95493,230.569014 C263.020688,226.777915 268.70725,222.835232 274.014789,218.740845 C279.322327,214.646458 283.719936,210.059298 287.207746,204.979225 C290.695557,199.899153 292.439437,193.568113 292.439437,185.985915 C292.439437,178.10043 291.112572,171.883121 288.458803,167.333803 C285.805034,162.784484 282.544738,159.410457 278.677817,157.21162 C274.810896,155.012782 270.792392,153.648007 266.622183,153.117254 C262.451974,152.5865 258.926305,152.321127 256.04507,152.321127 C248.462873,152.321127 242.397206,153.420529 237.847887,155.619366 C233.298569,157.818203 229.848721,160.585664 227.498239,163.921831 C225.147758,167.257998 223.631341,170.935309 222.948944,174.953873 C222.266546,178.972438 221.925352,182.80139 221.925352,186.440845 C221.925352,192.354959 220.78804,197.397045 218.51338,201.567254 C216.238721,205.737462 213.39544,209.111489 209.983451,211.689437 C206.571462,214.267384 202.856241,216.162905 198.837676,217.376056 C194.819111,218.589208 191.141801,219.195775 187.805634,219.195775 C177.493845,219.195775 169.153553,216.352493 162.784507,210.665845 C156.415461,204.979197 153.230986,197.662486 153.230986,188.715493 C153.230986,184.77275 153.685911,179.692754 154.595775,173.475352 C155.505638,167.25795 157.249518,160.661537 159.827465,153.685915 C162.405412,146.710294 166.044812,139.734777 170.745775,132.759155 C175.446737,125.783533 181.588225,119.490404 189.170423,113.879577 C196.75262,108.268751 206.002762,103.719501 216.921127,100.23169 C227.839491,96.7438793 240.880675,95 256.04507,95 C273.180837,95 288.231273,97.3125356 301.196831,101.937676 C314.162389,106.562817 324.966858,113.007588 333.610563,121.272183 C342.254269,129.536778 348.774861,139.393487 353.172535,150.842606 C357.57021,162.291724 359.769014,174.915893 359.769014,188.715493 Z M293.349296,380.240845 C293.349296,393.130581 290.089,402.646096 283.56831,408.787676 C277.04762,414.929256 267.873299,418 256.04507,418 C243.913554,418 234.587591,414.929256 228.066901,408.787676 C221.546212,402.646096 218.285915,393.130581 218.285915,380.240845 C218.285915,367.199465 221.546212,357.721861 228.066901,351.807746 C234.587591,345.893632 243.913554,342.93662 256.04507,342.93662 C268.631518,342.93662 277.995392,345.893632 284.136972,351.807746 C290.278552,357.721861 293.349296,367.199465 293.349296,380.240845 Z"></path></g></svg>
		<span class="tooltiptext tooltip-right">About TimeTaco</span>
	</a>

	{% if request.user.is_authenticated %}
	<a href="{% url "main:account" %}" class="login-button overlay-button tooltip">
		<span class="tooltiptext tooltip-right">Your account</span>
	{% else %}
	<a href="javascript:void(0);" class="login-button overlay-button tooltip" data-overlayopener="login">
		<span class="tooltiptext tooltip-right">Login</span>
	{% endif %}
		<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill-rule="evenodd"><path d="M351.046385,404.604451 C326.101838,445.871942 185.137072,442.842218 162.023872,404.604451 C138.910672,366.366685 178.929138,248.24794 256.535129,248.24794 C334.141119,248.24794 375.990932,363.336961 351.046385,404.604451 Z M256.535129,235.514266 C222.270132,235.514266 194.492865,207.736998 194.492865,173.472002 C194.492865,139.207006 222.270132,111.429739 256.535129,111.429739 C290.800125,111.429739 318.577392,139.207006 318.577392,173.472002 C318.577392,207.736998 290.800125,235.514266 256.535129,235.514266 Z"></path></g></svg>
	</a>
</div>

{% include "login_overlay.html" %}

<script>
var US_API_KEY = '{{ settings.UNSPLASH_KEY }}';
</script>
{% endblock %}
