{% if not request.user.is_authenticated %}
<section class="overlay" data-overlay="login">
	<div>
		<h2 class="overlay-header"><span>Login</span>
		<a href="javascript:void(0);" data-closeoverlay class="close-button"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></g></svg></a></h2>

	    <p>
	        To sign up or log in, just enter your email address below and click the link we send you:
	    </p>

	    <form class="login" action="{% url "tokenauth:login" %}?next={{ request.GET.next }}" method="post">{% csrf_token %}
	        <input required type="email" placeholder="Enter your email" name="email"/>
	        <button class="button login" type="submit">Login</button>
	    </form>
	</div>
</section>
{% endif %}
