{% extends "base.html" %}{% load staticfiles %}

{% block title %}{{ countdown.title_or_default }}{% endblock %}

{% block headcontent %}
<link rel="canonical" href="https://{{ request.site.domain }}{% url "main:countdown-view" countdown.id %}"/>
<meta property="og:locale" content="en_US"/>
{% if countdown.get_og_image_url %}
<meta property="og:image" content="{{ countdown.get_og_image_url }}"/>
{% else %}
<meta property="og:image" content="https://{{ request.site.domain }}{% static "images/timetaco-ogimage.png" %}"/>
{% endif %}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:title" content="{{ countdown.title_or_default }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="https://{{ request.site.domain }}{% url "main:countdown-view" countdown.id %}"/>
<meta property="og:description" content="Countdown to {{ countdown.target }} UTC" />
{% include "countdown_push_head.html" %}
{% endblock %}

{% block background %}{% if countdown.get_background_url %} style="background-image: url('{{ countdown.get_background_url }}')"{% else %} class="pattern"{% endif %}{% endblock %}

{% block content %}
<section class="enabled">
	<div class="countdown-container" id="countdown-parent" data-toggle="true" title="{{ countdown.title_or_default }} ends at {{ countdown.target }} UTC">
        {% if countdown.title %}
        <h1 id="title">{{ countdown.title }}</h1>
        {% endif %}
		<div id="countdown" data-year="{{ countdown.target.year }}" data-month="{{ countdown.target.month }}" data-day="{{ countdown.target.day }}" data-hour="{{ countdown.target.hour }}" data-minute="{{ countdown.target.minute }}"></div>
	</div>
</section>

{% if countdown.unsplash_author_name %}
<em class="attribution"><a href="{{ countdown.unsplash_author_url }}?utm_source=TimeTaco&utm_medium=referral&utm_campaign=api-credit" target="_blank" title="{{ countdown.unsplash_author_name }}">{{ countdown.unsplash_author_name }}</a> <span>/</span> <a href="https://unsplash.com?utm_source=TimeTaco&utm_medium=referral&utm_campaign=api-credit" title="Unsplash" target="_blank">Unsplash</a></em>
{% endif %}

<div class="actions">

	{% if is_owner %}<a href="{% url "main:countdown-view" countdown.id %}?key={{ countdown.key }}" class="tooltip">
		<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="edit" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="pencil-alt" transform="translate(95.000000, 95.000000)" fill-rule="nonzero"><path d="M313.637077,89.8757707 L284.643945,118.868903 C281.688029,121.824819 276.90825,121.824819 273.952334,118.868903 L204.142406,49.0589751 C201.186491,46.1030592 201.186491,41.3232804 204.142406,38.3673645 L233.135539,9.37423227 C244.89631,-2.38653936 264.015426,-2.38653936 275.839089,9.37423227 L313.637077,47.1722203 C325.460741,58.9329919 325.460741,78.0521073 313.637077,89.8757707 Z M179.237243,63.2725279 L14.0833055,228.426465 L0.75023819,304.840035 C-1.07362479,315.154295 7.91990646,324.084934 18.2341661,322.323963 L94.6477358,308.928004 L259.801673,143.774066 C262.757589,140.818151 262.757589,136.038372 259.801673,133.082456 L189.991745,63.2725279 C186.972938,60.3166121 182.193159,60.3166121 179.237243,63.2725279 Z"></path></g></g></svg>
		<span class="tooltiptext tooltip-right">Edit your taco</span>
	</a>{% endif %}

	<a class="create tooltip" href="{% url "main:home" %}">
		<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="new" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M256.5,256.5 L256.5,118.5 L256.5,256.5 L118.5,256.5 L256.5,256.5 Z M256.5,256.5 L256.5,394.5 L256.5,256.5 L394.5,256.5 L256.5,256.5 Z" id="Line-2" stroke="#ffffff" stroke-width="42.7244582"></path></g></svg>
		<span class="tooltiptext tooltip-right">Create your own taco</span>
	</a>

	{% if request.user.is_authenticated %}
	<a href="{% url "main:account" %}" class="tooltip">
	{% else %}
	<a href="javascript:void(0);" class="tooltip" data-overlayopener="login">
	{% endif %}
		<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill-rule="evenodd"><path d="M351.046385,404.604451 C326.101838,445.871942 185.137072,442.842218 162.023872,404.604451 C138.910672,366.366685 178.929138,248.24794 256.535129,248.24794 C334.141119,248.24794 375.990932,363.336961 351.046385,404.604451 Z M256.535129,235.514266 C222.270132,235.514266 194.492865,207.736998 194.492865,173.472002 C194.492865,139.207006 222.270132,111.429739 256.535129,111.429739 C290.800125,111.429739 318.577392,139.207006 318.577392,173.472002 C318.577392,207.736998 290.800125,235.514266 256.535129,235.514266 Z"></path></g></svg>
		<span class="tooltiptext tooltip-right">{% if request.user.is_authenticated %}Your account{% else %}Login{% endif %}</span>
	</a>

	<a class="tooltip" href="javascript:void(0);" id="subscribe-button">
		<svg id="subscription-off" width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="remider-off" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group" transform="translate(94.500000, 94.000000)" fill-rule="nonzero"><g id="bell" transform="translate(0.000000, 0.013413)"><path d="M166.147781,18.3351619 C165.946841,17.0384208 164.163327,15.5662651 161.391036,15.5662651 C158.840231,15.5662651 157.261389,16.8164545 156.992556,18.1651445 L159.930253,32.8536292 L143.815137,35.3102016 C123.848327,38.3539228 106.950421,46.4714131 94.6524357,60.1120083 C79.6800991,76.7189217 71.2966072,101.587657 71.2966072,136.257745 C71.2966072,176.199428 67.2905674,204.025204 58.79098,224.841175 C54.1525962,236.20084 48.6283994,245.023396 41.0005334,253.502853 L281.930959,253.502853 C274.255303,244.969572 268.707776,236.120113 264.041973,224.709897 C255.513126,203.852607 251.485465,176.001969 251.485465,136.089629 C251.485465,101.401205 243.144224,76.5447188 228.251815,59.9804169 C216.024173,46.3800419 199.219579,38.311883 179.329136,35.3141381 L166.082708,33.3177314 L166.082708,19.921706 C166.082708,19.4010623 166.103318,18.9285194 166.138373,18.4552695 C166.142167,18.4067523 166.145213,18.3678005 166.147781,18.3351619 Z M156.951822,18.7610513 C156.951837,18.7627461 156.951852,18.7642884 156.951868,18.7657027 C156.951824,18.7617906 156.951771,18.7577099 156.951708,18.7534563 Z" id="Shape" stroke="#ffffff" stroke-width="31.1325301"></path><path d="M161.559152,322.782072 C184.086651,322.782072 202.579373,306.054564 205.017051,286.637205 L118.101253,286.637205 C120.454872,306.054564 139.031653,322.782072 161.559152,322.782072 Z" id="Shape" fill="#ffffff"></path></g></g></g></svg>

		<svg id="subscription-on" width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="reminder-on" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group" transform="translate(94.500000, 94.500000)" fill-rule="nonzero"><g id="bell" transform="translate(0.000000, 0.013413)" fill="#ffffff"><path d="M267.05173,136.089629 C267.05173,54.0491855 222.921369,26.1419855 181.648973,19.921706 C181.648973,19.5014169 181.733031,19.0811277 181.733031,18.5767807 C181.733031,8.23766747 172.570728,2.84217094e-14 161.391036,2.84217094e-14 C150.211345,2.84217094e-14 141.385272,8.23766747 141.385272,18.5767807 C141.385272,19.0811277 141.385272,19.5014169 141.46933,19.921706 C100.112877,26.2260434 55.7303422,54.2173012 55.7303422,136.257745 C55.7303422,231.915557 31.9419759,242.170612 5.68434189e-14,269.069118 L322.782072,269.069118 C291.008212,242.086554 267.05173,231.747441 267.05173,136.089629 Z" id="Shape"></path><path d="M161.559152,322.782072 C184.086651,322.782072 202.579373,306.054564 205.017051,286.637205 L118.101253,286.637205 C120.454872,306.054564 139.031653,322.782072 161.559152,322.782072 Z" id="Shape"></path></g><g id="Group-2" transform="translate(13.931814, 15.254942)" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="22.5346516"><path d="M66.0781895,4.23154539 C39.5105205,13.9747009 15.1010994,34.7181467 4.60245981,74.4844457" id="Shape-Copy" transform="translate(35.340325, 39.357996) rotate(-7.000000) translate(-35.340325, -39.357996) "></path><path d="M293.215154,4.23154539 C266.647485,13.9747009 242.238064,34.7181467 231.739425,74.4844457" id="Shape-Copy-2" transform="translate(262.477289, 39.357996) scale(-1, 1) rotate(-7.000000) translate(-262.477289, -39.357996) "></path></g></g></g></svg>
		<span class="tooltiptext tooltip-right">Get notified when the taco ends</span>
	</a>

	<a href="javascript:void(0);" class="embed-button tooltip overlay-button" data-overlayopener="embed">
		<svg width="513px" height="513px" viewBox="0 0 513 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="embed" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M138.621407,258.373123 L209.673748,329.424142 C216.771183,336.522238 216.771844,348.029878 209.673748,355.127314 C202.575652,362.224749 191.067351,362.224749 183.970576,355.127314 L100.318783,271.476182 C96.7076103,267.864348 94.9377125,263.111135 95.0018201,258.377749 C94.9350689,253.641719 96.7043058,248.88388 100.318783,245.270063 L183.969915,161.617609 C191.068012,154.520174 202.575652,154.519513 209.673087,161.617609 C216.770522,168.715706 216.770522,180.223346 209.673087,187.320781 L138.621407,258.373123 Z M412.681287,241.524727 C416.293782,245.137222 418.063018,249.893078 417.99825,254.628447 C418.063679,259.363155 416.294443,264.118351 412.681287,267.731507 L329.029494,351.383299 C321.932059,358.480074 310.423758,358.480074 303.326322,351.383299 C296.228887,344.284542 296.228887,332.776902 303.326322,325.680127 L374.378663,254.627786 L303.325661,183.576106 C296.228226,176.47867 296.228226,164.97037 303.325661,157.872934 C310.423758,150.774838 321.931398,150.775499 329.028833,157.872934 L412.681287,241.524727 Z" id="Shape" fill="#ffffff" fill-rule="nonzero"></path></g></svg>
		<span class="tooltiptext tooltip-right">Embed this taco</span>
	</a>

</div>

<section data-overlay="embed" class="overlay">
	<div>
		<h2 class="overlay-header">
			<span>Embed this taco</span>
			<a href="javascript:void(0);" data-closeoverlay class="close-button"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></g></svg></a>
		</h2>

		<article class="overlay-body">
			<input type="text" value="<script>(function(d, s, id) {var js, timetacojs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ='https://{{ request.site.domain }}/static/js/embed.js';timetacojs.parentNode.insertBefore(js, timetacojs);}(document, 'script', 'timetaco-jssdk'));<\/script><div class='timetaco-list' data-timetacoid='{{ countdown.id }}'></div>" readonly=""/>
			<article class="preview-container">
				<h2>Preview</h2>
				<iframe src="/{{ countdown.id }}/embed/"></iframe>
			</article>
		</article>

	</div>
</section>

{% include "login_overlay.html" %}

{% include "countdown_push_body.html" %}

<script>
expiring_counter_interval = {{ settings.EXPIRING_COUNTER_INTERVAL }};
</script>

{% endblock %}
